.bordered {
    border: 2px solid grey;
    border-radius: 15px;
}

strong {
    color: lightgrey;
}

code {
    color: lightgrey;
    background-color: #282b30;
}

/* Overriding Bulma for better colors and dark mode */
.is-warning {
    background-color: orange !important;
}

.is-success {
    background-color: green !important;
}

a.is-warning:hover {
    background-color: rgb(255, 153, 0) !important;
}

.box {
    background-color: #282b30;
}

table, th, tr, td {
    border: none !important;
}

th {
    background-color: orange;
}

tr {
    color: lightgray !important;
}

tr:nth-child(even) {
    background-color: rgb(40, 40, 40) !important;
}

tr:nth-child(odd) {
    background-color: rgb(44, 44, 46) !important;
}